<nav class="navbar navbar-dark fixed-top bg-cocogoods flex-md-nowrap pt-2 pb-2 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Cocogoods by SuperFood, INC</a>
</nav>
<div class="container-fluid">
  <div class="row mheader">
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 pt-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Pendings</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Ativos</a>
      </div>
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10 pt-2">
      <div class="d-flex justify-content-between">
        <h3>Registered</h3>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Sair</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active text-center " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="d-flex justify-content-around">
            <p>Number of Registered: {{countF}} </p>
          </div>
            {{#each users}}
          <ul class="list-group">
              <li class="list-group-item"> 
                Name: {{this.name}} <br>
                Email: {{this.email}} <br>
                BirthDay: {{this.date}} <br>
                Neighbourhood: {{this.bairo}} <br>
                City: {{this.city}} <br>
                Cupom: {{this.status}} <br>
              </li>
          </ul>
            {{/each}} 
        </div>
        <div class="tab-pane fade text-center" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="d-flex justify-content-around">
            <p>Number of Registered with Pending Cupom: {{countP}} </p>
          </div>
            {{#each userPending}}
          <ul class="list-group">
              <li class="list-group-item"> 
                Name: {{this.name}} <br>
                Email: {{this.email}} <br>
                BirthDay: {{this.date}} <br>
                Neighbourhood: {{this.bairo}} <br>
                City: {{this.city}} <br>
                Cupom: {{this.status}} <br>
              </li>
          </ul>
            {{/each}} 
        </div>
        <div class="tab-pane fade text-center" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="d-flex justify-content-around">
            <p>Number of Registered with Active Cupom: {{countA}} </p>
          </div>
            
          {{#each userActive}}
          <ul class="list-group">
              <li class="list-group-item"> 
                Name: {{this.name}} <br>
                Email: {{this.email}} <br>
                BirthDay: {{this.date}} <br>
                Neighbourhood: {{this.bairo}} <br>
                City: {{this.city}} <br>
                Cupom: {{this.status}} <br>
              </li>
          </ul>
            {{/each}} 
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
      </div>
    </div>

  </div>
</div>

