<nav class="navbar navbar-expand-lg fixed-top bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/images/LOGO.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mr-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link d-inline-block menu rounded-pill MENU-Ubuntu-14pt pt-3 pb-3 pl-3 pr-3" href="/logout">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row section">
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 pt-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link d-inline-block menu rounded-pill MENU-Ubuntu-14pt pt-3 pb-3 pl-3 pr-3" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
        <a class="nav-link d-inline-block menu rounded-pill MENU-Ubuntu-14pt pt-3 pb-3 pl-3 pr-3" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Pendings</a>
        <a class="nav-link d-inline-block menu rounded-pill MENU-Ubuntu-14pt pt-3 pb-3 pl-3 pr-3" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Ativos</a>
      </div>
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10 pt-2">
      <div class="d-flex justify-content-between">
          <h1 class="TEXTO-MENOR-Raleway-18pt font-weight-bold text-uppercase text-center pb-2">Registered</h1>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="d-flex justify-content-end">
            <h2 class="MENU-Ubuntu-14pt">Number of Registered: {{countF}} </h2>
          </div>
            <div class="d-flex flex-row">
            {{#each users}}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><span class="font-weight-bold">Name:</span> {{this.name}}</h5>
                <p class="card-text"><span class="font-weight-bold">Email:</span> {{this.email}}<br/>
                <span class="font-weight-bold">BirthDay:</span> {{this.date}}<br/>
                <span class="font-weight-bold">Neighbourhood:</span> {{this.bairo}}<br/>
                <span class="font-weight-bold">City:</span> {{this.city}}<br/>
                <span class="font-weight-bold">Cupom:</span> {{this.status}}</p>
              </div>
            </div>
            {{/each}} 
            </div>
        </div>
        <div class="tab-pane fade text-center" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="d-flex justify-content-around">
            <p>Number of Registered with Pending Cupom: {{countP}} </p>
          </div>
            {{#each userPending}}
          <ul class="list-group">
              <li class="list-group-item"> 
                Name: {{this.name}} <br>
                Email: {{this.email}} <br>
                BirthDay: {{this.date}} <br>
                Neighbourhood: {{this.bairo}} <br>
                City: {{this.city}} <br>
                Cupom: {{this.status}} <br>
              </li>
          </ul>
            {{/each}} 
        </div>
        <div class="tab-pane fade text-center" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="d-flex justify-content-around">
            <p>Number of Registered with Active Cupom: {{countA}} </p>
          </div>
            
          {{#each userActive}}
          <ul class="list-group">
              <li class="list-group-item"> 
                Name: {{this.name}} <br>
                Email: {{this.email}} <br>
                BirthDay: {{this.date}} <br>
                Neighbourhood: {{this.bairo}} <br>
                City: {{this.city}} <br>
                Cupom: {{this.status}} <br>
              </li>
          </ul>
            {{/each}} 
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
      </div>
    </div>

  </div>
</div>

