<section>
  {{#if user}}
  <div class="d-flex justify-content-center text-center col-lg-6">
    <h1>CUPOM GERADO</h1>
  </div>
  {{else}}
  <div class="d-flex flex-column justify-content-center text-center col-lg-6">
    <h1>CUPOM</h1>
        {{#if tokenMessage}}
      <div class="alert alert-danger d-inline-flex justify-content-center p-2 text-center mb-2 rounded" >{{ tokenMessage }}</div>
    {{/if}}
  </div>

  {{/if}}
  <div class="container d-flex flex-column justify-content-center text-center col-lg-6">
    <h2>Form</h2>
    <form action="/" method="POST" id="form-container">
      <div class="sign-input form-group">
        <label for="name">Nome Completo</label>
        <input id="name" class="input-form form-control" type="text" name="name" placeholder="Nome Completo">
      </div>

      <div class="">
        <label for="email">Email</label>
        <input id="email" class="input-form form-control" type="text" name="email" placeholder="me@domain.com">
      </div>

      <div class="sign-input form-group name-sign">
        <label for="birthDay"> Data de Nascimento</label>
        <input id="birthDay" class="input-form form-control" type="date" name="birthDay" placeholder="First name">
      </div>

      <div class="">
        <label for="city">Cidade</label>
        <input id="city" class="input-form form-control" type="text" name="city" placeholder=" Cidade">
      </div>

      {{#if message}}
      <div class="alert alert-danger d-inline-flex justify-content-center p-2 text-center mb-2 rounded" >{{ message }}</div>
      {{/if}}
      <br><br>

      <button type="submit" class="btn btn-primary btn-sign">Enviar</button>

    </form>
  </div>
</section>

<p>{{user}}</p>



<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key={{GMAPS}}"></script>