<nav class="navbar navbar-expand-lg fixed-top bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/images/LOGO.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mr-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link d-inline-block menu rounded-pill MENU-Ubuntu-14pt pt-3 pb-3 pl-3 pr-3" href="#about">SOBRE</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link d-inline-block menu rounded-pill MENU-Ubuntu-14pt pt-3 pb-3 pl-3 pr-3" href="#nutrition">NUTRIÇÃO</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link d-inline-block menu rounded-pill MENU-Ubuntu-14pt pt-3 pb-3 pl-3 pr-3" href="#benefits">BENEFÍCIOS</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link d-inline-block menu rounded-pill MENU-Ubuntu-14pt pt-3 pb-3 pl-3 pr-3" href="#cupom">CUPOM</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link d-inline-block menu rounded-pill MENU-Ubuntu-14pt pt-3 pb-3 pl-3 pr-3" href="#stores">LOJAS</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link d-inline-block menu rounded-pill MENU-Ubuntu-14pt pt-3 pb-3 pl-3 pr-3" href="#superfoods">SUPERFOODS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="home" class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="section d-flex flex-column align-items-center">
          <h1 class="TITULO-Raleway-40pt pb-2 text-center">Saboroso, refrescante e versátil.</h1>
          <p class="TEXTO-Raleway-22pt text-center pt-3 pb-3">A chave para a sua hidratação e nutrição diária.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="section d-flex flex-column align-items-center">
          <h1 class="TITULO-Raleway-40pt pb-2 text-center">Você sabia que ele é um Superfood?</h1>
          <p class="TEXTO-Raleway-22pt pt-2 text-center">Fortalece o <b>sistema imunológico</b>, melhora o funcionamento da tireóide, aumenta a disposição e queima gorduras.</p>
          <p class="TEXTO-Raleway-22pt pt-2 text-center">A água de coco contém <b>vitaminas naturais</b>, (cálcio, ferro, manganês, magnésio e zinco), eletrólitos e enzimas nutritivas.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="nutrition" class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="section d-flex flex-column align-items-center">
          <h1 class="TITULO-Raleway-40pt pb-2 text-center">Tão nutritivo, que é uma das frutas mais saudáveis do Mundo.</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="benefits" class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="section d-flex flex-column align-items-center">
          <h1 class="TITULO-Raleway-40pt pb-5 text-center">Confira os maiores benefícios do Cocogoods!</h1>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-5">
        <div class="card frame bg-transparent mt-2 mb-1 rounded-0  border-right-0 border-left-0">
          <div class="card-body">
            <p class="TEXTO-Raleway-22pt text-center mb-0">O leite de coco é uma <b>alternativa vegana</b> para intolerantes ou alérgicos ao leite animal, e também <b>não possue</b> soja ou glúten.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-5">
        <div class="card frame bg-transparent mt-2 mb-1 rounded-0  border-right-0 border-left-0">
          <div class="card-body">
            <p class="TEXTO-Raleway-22pt text-center mb-0">O óleo de coco fortalece o <b>sistema imunológico</b>, melhora o funcionamento da <b>tireóide</b>, aumenta a <b>disposição</b> e <b>queima gorduras</b>.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-5">
        <div class="card frame bg-transparent mt-2 mb-1 rounded-0  border-right-0 border-left-0">
          <div class="card-body">
            <p class="TEXTO-Raleway-22pt text-center mb-0">O coco pode ser <b>consumido por cães</b>. A gordura é benéfica e sua água além de ser super saborosa e refrescante, dá <b>energia ao seu cachorro</b>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cupom" class="pt-5">
  <div class="container">
    <div class="row">
      <div class="section d-flex flex-row-reverse flex-wrap pb-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          {{#if user}}
            <h1 class="TITULO-Raleway-40pt">Seu cupom foi gerado com sucesso!</h1>
            <p class="TEXTO-Raleway-22pt pb-5">Você pode apresentá-lo em qualquer uma das nossas lojas e comprar seu CocoGood a qualquer momento! Se preferir, pode apresentar pelo site ou baixar a imagem para o seu celular.</p>
            <p class="TEXTO-Raleway-22pt pb-5">Lembre-se de verificar nossos <u>Termos e Condições</u> referentes ao uso do cupom pra não ficar com nenhuma dúvida. :)</p>
            <a href="#" class="btn btn-sign rounded-pill text-uppercase font-weight-bold pt-2 pb-2 pl-4 pr-4">Baixar Cupom</a>
          {{else}}
            <h1 class="TITULO-Raleway-40pt">Quer um cupom?</h1>
            <p class="TEXTO-Raleway-22pt pb-3">Preencha o formulário abaixo e, após confirmar o seu e-mail, você irá receber um desconto para comprar seu Cocogood! :)</p>

            {{#if message}}
            <div class="alert alert-danger alert-dismissible fade show rounded mb-5">
              <p class="TEXTO-Raleway-22pt text-center mb-0">{{ message }}</p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {{/if}}

            <form action="/" method="POST" id="form-container">
              <div class="sign-input form-group">
                <label for="name" class="TEXTO-MENOR-Raleway-18pt text-uppercase font-weight-bold">Nome Completo</label>
                <input id="name" class="input-form form-control" type="text" name="name" placeholder="Nome Completo">
              </div>
              <div class="sign-input form-group">
                <label for="email" class="TEXTO-MENOR-Raleway-18pt text-uppercase font-weight-bold">Email</label>
                <input id="email" class="input-form form-control" type="text" name="email" placeholder="me@domain.com">
              </div>
              <div class="sign-input form-group">
                <label for="birthDay" class="TEXTO-MENOR-Raleway-18pt text-uppercase font-weight-bold"> Data de Nascimento</label>
                <input id="birthDay" class="input-form form-control" type="date" name="birthDay">
              </div>
              <div class="sign-input form-group">
                <label for="city" class="TEXTO-MENOR-Raleway-18pt text-uppercase font-weight-bold">Cidade</label>
                <input id="city" class="input-form form-control" type="text" name="city" placeholder="Cidade">
              </div>
              <div class="sign-input form-group">
                <label for="bairro" class="TEXTO-MENOR-Raleway-18pt text-uppercase font-weight-bold">Bairro</label>
                <input id="bairro" class="input-form form-control" type="text" name="bairro" placeholder="Bairro">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-sign rounded-pill text-uppercase font-weight-bold pt-2 pb-2 pl-4 pr-4 mr-4">Enviar</button> <span class="d-block">Leia os Termos e Condições de uso do Cupom.</span>
              </div>
            </form>
          {{/if}}
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          {{#if user}}
            <img src="/images/CUPOM-RESGATADO.jpg" class="img-fluid" alt="">

          {{else}}
            {{#if tokenMessage}}
              <div class="alert alert-danger alert-dismissible fade show rounded mb-5">
                <p class="TEXTO-Raleway-22pt text-center mb-0">{{ tokenMessage }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {{/if}}
            <img src="/images/CUPOM-NAO-RESGATADO.jpg" class="img-fluid" alt="">
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="stores" class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="section d-flex flex-row-reverse flex-wrap-reverse justify-content-between pb-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div id="map"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <h1 class="TITULO-Raleway-40pt">NOSSAS LOJAS</h1>
          <p class="TEXTO-Raleway-22pt pt-2 pb-2">Navegue pelo mapa e encontre a loja a mais próxima de você
            ou selecione uma de nossas unidades abaixo.</p>
          <div class="d-flex flex-row flex-wrap justify-content-around">
            <div class="TEXTO-LOJAS-Raleway-14pt col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p>
                <span class="font-weight-bold">SÃO PAULO</span><br/>
                Bela Vista<br/>
                Brás<br/>
                Butantã<br/>
                Cerqueira César<br/>
                Imirim<br/>
                Jardim das Acácias<br/>
                Jardim Paulista<br/>
                Vila Buarque</p>
              <p><span class="font-weight-bold">CARAPICUÍBA</span><br/>
              Vila Caldas</p>
              <p>
                <span class="font-weight-bold">DIADEMA</span><br/>
                Centro
              </p>
            </div>
            <div class="TEXTO-LOJAS-Raleway-14pt col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <p>
                <span class="font-weight-bold">GUARULHOS</span><br/>
                Jardim Bom Clima</p>
              <p>
                <span class="font-weight-bold">OSASCO</span><br/>
                Vila Campesina</p>
              <p>
                <span class="font-weight-bold">SÃO CAETANO DO SUL</span><br/>
                Santa Paula</p>
              <p>
                <span class="font-weight-bold">SÃO BERNARDO DO CAMPO</span><br/>
                Centro
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="superfoods">
  <div class="container">
    <div class="d-flex flex-column">
      <h2 class="TITULO-FOOTER-Raleway-18pt text-center">SUPERFOODS</h2>
      <p class="TEXTO-FOOTER-Raleway-14pt text-center mb-0">AÇAI BERRIES • ALMONDS • AVOCADOS • BLUE BERRIES • BROCCOLI RABE • CINNAMON • <span class="font-weight-bold">COCONUTS</span> • FLAXSEEDS • GOJI BERRIES • KALE • RAW MILK • SALMON • SPIRULINA • SWEET POTATOES • WHEATGRASS</p>
    </div>
  </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?key={{process.env.GMAPS}}"></script>